*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


  .site-footer {
    position: relative;
    bottom: 0;
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    margin-top: auto; /* Pushes footer to the bottom */
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-logo h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-contact, .footer-social {
    width: 30%;
  }
  
  .footer-contact h3, .footer-social h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .footer-contact p, .footer-social p {
    margin: 5px 0;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .social-links li {
    width: 55px;
    padding: 8px;
    border-radius: 50%;
    background-color: #fff;
    display: grid;
    place-items: center;
    height: 55px;
  }
  
  .social-links a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s;
  }
  
  .social-links a:hover img {
    transform: scale(1.1);
  }
  